body{
    background-image: url("../img/redCurtain.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

#add-movie-card{
    float: right;
    display: flex;
    flex-direction: column;
    width: 450px;

}

.movie-text-box{
    margin-top: 10px;
}

.movie-cards{
    border: solid black;
    width: 50%;
    color: white;
    /* From https://css.glass */
    background: rgba(107, 107, 107, 0.36);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5.3px);
    -webkit-backdrop-filter: blur(5.3px);
    border: 1px solid rgba(107, 107, 107, 0.48);
}

.delete-btn{
    float: right;
}


.delete-btn-hide{
    visibility: hidden;
}