body{
    background-image: url("../img/redCurtain.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

#loading {
    display: flex;
    position: fixed;
    z-index: 100;
    width: 100%;
    height: 100%;
    background-color: rgba(192, 192, 192, 0.2);
    background-image: url("https://media4.giphy.com/media/tZGgQd7ij2igeP8VW8/giphy.gif?cid=ecf05e47c9k1rir0801suzble9fg8eul4gmyo4270ve8y0d7&rid=giphy.gif&ct=s");
    background-repeat: no-repeat;
    background-position: center;}

#add-movie-card{
    position: fixed;
    margin-top: 30px;
    margin-left: 900px;
    padding:20px;
    display: flex;
    flex-direction: column;
    width: 450px;
    background: rgba(107, 107, 107, 0.36);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5.3px);
    -webkit-backdrop-filter: blur(5.3px);
    border: 1px solid rgba(107, 107, 107, 0.48);

}


h2{
    color: white;
    text-align: center;
}

.movie-text-box{
    border-radius: 6px;
    padding: 6px 13px 6px 6px;
}

.search-button{
    background-color: white;
    color: black;
    border-radius: 5px;
    padding: 5px;
    margin-top: 8px;
}

.card-title{
    font-size: 32px;
    margin-left: 15px;
    margin-top: 15px;
}

.card-body{
    margin-left: 10px;
    margin-right: 10px;
    padding: 5px;
    margin-bottom: 6px;
    background: rgba(29, 28, 28, 0.06);
    border-radius: 6px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(3.8px);
    -webkit-backdrop-filter: blur(3.8px);
    border: 1px solid rgba(29, 28, 28, 0.82);
}

.movie-text-box{
    margin-top: 10px;
}

.movie-cards{
    margin: 10px;
    border: solid black;
    width: 50%;
    color: white;
    background: rgba(107, 107, 107, 0.36);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5.3px);
    -webkit-backdrop-filter: blur(5.3px);
    border: 1px solid rgba(107, 107, 107, 0.48);
}

.delete-btn{
    float: right;
}


.delete-btn-hide{
    visibility: hidden;
}

.edit-subtitles {
    font-size: 24px;
    margin-bottom: 4px;
}

.edit-text-box{
    border-radius: 10px;
    padding: 10px;
    padding-right: 200px;
}
*{
    font-family: Raleway;
}
.button {
    display: block;
    position: relative;
    margin: 50px auto 0;
    padding: 10px 0;
    width: 110px;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    background-color: #0099cc;
    border: none;
}
.button.one:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: rgba(255,255,255,0.4);
    -webkit-transition: none;
    -moz-transition: none;
    transition: none;
}
.button.one:hover:after {
    width: 120%;
    background-color: rgba(255,255,255,0);

    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}
.edit-btn{
    position: relative;
    margin: 10px 10px;
    padding: 10px 0;
    width: 150px;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    background-color: #0099cc;
    border: none;
}
.edit-btn:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: rgba(255,255,255,0.4);
    -webkit-transition: none;
    -moz-transition: none;
    transition: none;
}
.edit-btn:hover:after {
    width: 120%;
    background-color: rgba(255,255,255,0);

    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}
.delete-btn{
margin: 10px 10px;}